Package: *
Pin: release o=Mirantis
Pin-Priority: 10

Package: ceph-common-dbg
Pin: release o=Mirantis,l=mos{{ mos_version }}
Pin-Priority: 1001

Package: ceph-common
Pin: release o=Mirantis,l=mos{{ mos_version }}
Pin-Priority: 1001

Package: ceph-dbg
Pin: release o=Mirantis,l=mos{{ mos_version }}
Pin-Priority: 1001

Package: ceph-fs-common-dbg
Pin: release o=Mirantis,l=mos{{ mos_version }}
Pin-Priority: 1001

Package: ceph-fs-common
Pin: release o=Mirantis,l=mos{{ mos_version }}
Pin-Priority: 1001

Package: ceph-fuse-dbg
Pin: release o=Mirantis,l=mos{{ mos_version }}
Pin-Priority: 1001

Package: ceph-fuse
Pin: release o=Mirantis,l=mos{{ mos_version }}
Pin-Priority: 1001

Package: ceph-mds-dbg
Pin: release o=Mirantis,l=mos{{ mos_version }}
Pin-Priority: 1001

Package: ceph-mds
Pin: release o=Mirantis,l=mos{{ mos_version }}
Pin-Priority: 1001

Package: ceph-resource-agents
Pin: release o=Mirantis,l=mos{{ mos_version }}
Pin-Priority: 1001

Package: ceph-test-dbg
Pin: release o=Mirantis,l=mos{{ mos_version }}
Pin-Priority: 1001

Package: ceph-test
Pin: release o=Mirantis,l=mos{{ mos_version }}
Pin-Priority: 1001

Package: ceph
Pin: release o=Mirantis,l=mos{{ mos_version }}
Pin-Priority: 1001

Package: libcephfs-dev
Pin: release o=Mirantis,l=mos{{ mos_version }}
Pin-Priority: 1001

Package: libcephfs-java
Pin: release o=Mirantis,l=mos{{ mos_version }}
Pin-Priority: 1001

Package: libcephfs-jni-dbg
Pin: release o=Mirantis,l=mos{{ mos_version }}
Pin-Priority: 1001

Package: libcephfs-jni
Pin: release o=Mirantis,l=mos{{ mos_version }}
Pin-Priority: 1001

Package: libcephfs1-dbg
Pin: release o=Mirantis,l=mos{{ mos_version }}
Pin-Priority: 1001

Package: libcephfs1
Pin: release o=Mirantis,l=mos{{ mos_version }}
Pin-Priority: 1001

Package: librados-dev
Pin: release o=Mirantis,l=mos{{ mos_version }}
Pin-Priority: 1001

Package: librados2-dbg
Pin: release o=Mirantis,l=mos{{ mos_version }}
Pin-Priority: 1001

Package: librados2
Pin: release o=Mirantis,l=mos{{ mos_version }}
Pin-Priority: 1001

Package: libradosstriper-dev
Pin: release o=Mirantis,l=mos{{ mos_version }}
Pin-Priority: 1001

Package: libradosstriper1-dbg
Pin: release o=Mirantis,l=mos{{ mos_version }}
Pin-Priority: 1001

Package: libradosstriper1
Pin: release o=Mirantis,l=mos{{ mos_version }}
Pin-Priority: 1001

Package: librbd-dev
Pin: release o=Mirantis,l=mos{{ mos_version }}
Pin-Priority: 1001

Package: librbd1-dbg
Pin: release o=Mirantis,l=mos{{ mos_version }}
Pin-Priority: 1001

Package: librbd1
Pin: release o=Mirantis,l=mos{{ mos_version }}
Pin-Priority: 1001

Package: python-ceph
Pin: release o=Mirantis,l=mos{{ mos_version }}
Pin-Priority: 1001

Package: python-cephfs
Pin: release o=Mirantis,l=mos{{ mos_version }}
Pin-Priority: 1001

Package: python-rados
Pin: release o=Mirantis,l=mos{{ mos_version }}
Pin-Priority: 1001

Package: python-rbd
Pin: release o=Mirantis,l=mos{{ mos_version }}
Pin-Priority: 1001

Package: radosgw-dbg
Pin: release o=Mirantis,l=mos{{ mos_version }}
Pin-Priority: 1001

Package: radosgw
Pin: release o=Mirantis,l=mos{{ mos_version }}
Pin-Priority: 1001

Package: rbd-fuse-dbg
Pin: release o=Mirantis,l=mos{{ mos_version }}
Pin-Priority: 1001

Package: rbd-fuse
Pin: release o=Mirantis,l=mos{{ mos_version }}
Pin-Priority: 1001

Package: rest-bench-dbg
Pin: release o=Mirantis,l=mos{{ mos_version }}
Pin-Priority: 1001

Package: rest-bench
Pin: release o=Mirantis,l=mos{{ mos_version }}
Pin-Priority: 1001

